body {
	padding: 50px 0 0 0;
	margin: 0;
  font: 14px "Helvetica", Arial, sans-serif;
  text-align: center;
  background-color: #000;
}

#container {
	margin: 0 auto;
	width: 100%;
	text-align: left;
}

h1 {
	font: 32px "Helvetica", Arial, sans-serif;
	padding: 5px 0 5px 55px;
}

#graph {
	width: 100%;
	background-color: #000;
	margin-top:-3px;
	padding: 10px 0 0 0;
	bottom: 0;
	position: absolute;
	z-index:-100;
}

#photos {
	margin:0;
	padding: 0;
	
	top: 0;
	position: absolute;
	z-index: 100;
	float:right;
}

#photo-strip{
	margin:0;
	padding:0;
	list-style-type: none;
	width: 3000px;
	overflow: hidden;
}

#info-boxes {
	margin:0;
	padding:0;
	list-style-type: none;
	width: 100%;
	text-align: center;
	z-index: 200;
}

#photo-strip li {
	display: inline-block;

}

.info-box {
	height: 100px;
	border: 1px solid #fff;
	display: inline-block;
	margin-right: 10px;
	font: 40px "Helvetica", Arial, sans-serif;
  text-align: center;
  color: #fff;
}

.event-header {
	font-family: 'Maven Pro', sans-serif;
	font-size: 18px;
  font-style: regular;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}

.number {
	font-family: 'Maven Pro', sans-serif;
}

a {
  color: #00B7FF;
}

